
<form class="edit-group-form" name="groupForm" ng-if="inputForm">



	<div class="row">
		<button style="margin-left: 20px;" ng-disabled="groupForm.$invalid" type="button" class="pull-right btn btn-primary active" ng-click="save(inputForm)">Guardar</button>
		<button type="button" class="pull-right btn btn-danger active" ui-sref="main.list">Anular</button>
	</div>
	
	
	

	
	<div class="row">
		<div class="col-sm-8">
		
			<div class="row" ng-repeat="formLine in villaAmparo">
				<span class="form-inline">
					<div class="form-group" ng-repeat="field in formLine">
						<label>{{field.label}}</label>
						<span ng-switch="field.type">
							<input ng-switch-when="text" ng-model="inputForm[field.key]" ng-required="field.required" type="text" class="form-control"></input>
							<input ng-switch-when="date" ng-model="inputForm[field.key]" ng-required="field.required" type="date"></input>
							<input ng-switch-when="number" ng-model="inputForm[field.key]" ng-min="field.min" ng-required="field.required" class="form-control" type="number"></input>
							<input ng-switch-when="boolean" ng-model="inputForm[field.key]" ng-required="field.required"  type="checkbox"></input>
							<div ng-switch-when="duration" uib-timepicker ng-model="inputForm[field.key]" hour-step="1" minute-step="5" ng-required="field.required"  min="field.min" max="field.max" class=" time-picker" show-meridian="false"></div>
						</span>

					</div>	
				</span>
			</div>

			<div class="row">
				<span class="form-inline">				
					<div class="form-group">
						<button type="button" class="btn btn-success" ng-click="genScore(inputForm)">Generar puntuacion</button>	
					</div>
				</span>
			</div>
		</div>
		
		
		<div class="col-sm-4">
			<div ng-if="!currentPhoto" class="row text-center">
				<span class="form-inline">
					<div class="form-group">
						<a ng-click="takePhoto(inputForm)" href="#" class="take-photo-btn btn btn-default">
							<span class="glyphicon glyphicon-camera"></span>
						</a>
					</div>	
				</span>
			</div>
			<div ng-if="currentPhoto" class="photo-container">
				<span ng-click="removePhoto()" class="remove-photo glyphicon glyphicon-remove"></span>
				<img style="width:100%" src="{{currentPhoto}}"/>
			</div>
			
		</div>
		
	</div>
	   
</form>
