
<form class="edit-group-form" name="groupForm" ng-if="inputForm">



	<div class="row">
		<button style="margin-left: 20px;" ng-disabled="groupForm.$invalid" type="button" class="pull-right btn btn-primary active" ng-click="save(inputForm)">Guardar</button>
		<button type="button" class="pull-right btn btn-danger active" ui-sref="main.list">Anular</button>
	</div>
	
	
	<div class="row">
		<div class="col-sm-7">
		
			<div class="row" ng-repeat="formLine in configFields">
				<span class="form-inline">
					<div class="form-group" ng-repeat="field in formLine">
						<label>{{field.label}}</label>
						<span ng-switch="field.type">
							<input ng-switch-when="text" ng-model="inputForm[field.key]" ng-required="field.required" type="text" class="form-control"></input>
							<input ng-switch-when="date" ng-model="inputForm[field.key]" ng-required="field.required" type="date"></input>
							<!-- <input ng-switch-when="number" ng-model="inputForm[field.key]" ng-min="field.min" ng-required="field.required" class="form-control" type="number"></input> -->
							<span ng-switch-when="number">
							<h-number  value="inputForm[field.key]" min="field.min" max="field.max" step="field.step">{{inputForm[field.key]}}</h-number>
							</span>
							
							<input ng-switch-when="boolean" ng-model="inputForm[field.key]" ng-required="field.required"  type="checkbox"></input>
							<textarea class="form-control" ng-switch-when="text-area" ng-model="inputForm[field.key]" ng-required="field.required"></textarea>
							<div ng-switch-when="duration" uib-timepicker ng-model="inputForm[field.key]" hour-step="1" minute-step="1" ng-required="field.required"  min="minTime" max="maxTime" class="time-picker" show-meridian="false"></div>						
							<span ng-switch-when="multi_select">
								<ui-select class="form-control" style="min-width: 120px;"multiple ng-model="inputForm[field.key]" theme="bootstrap"  close-on-select="false" title="Choose a color">
									<ui-select-match placeholder="Selecciona monitores">{{$item}}</ui-select-match>
									<ui-select-choices repeat="option in field.choices | filter:$select.search">
										{{option}}
									</ui-select-choices>
								</ui-select>
							</span>

							
						
						</span>
						<span ng-if="field.extra_action"><button type="button" class="btn btn-success" ng-click="autoFunction(inputForm, field.to_evaluate)">{{field.extra_action}}</button></span>

					</div>	
				</span>
			</div>

		</div>
		
		
		<div class="col-sm-5">
			<div class="row text-center">
				<span class="form-inline">
					<div class="form-group">
						<a ng-click="takePhoto(inputForm)" href="#" class="take-photo-btn btn btn-default">
							<span class="glyphicon glyphicon-camera"></span>
						</a>
					</div>	
				</span>
			</div>
			<div class="photo-container" ng-repeat="photo in attachements">
				<span ng-click="removePhoto(photo)" class="remove-photo glyphicon glyphicon-remove"></span>
				<img style="width:100%" src="{{photo.src}}"/>
			</div>
			
		</div>
		
	</div>

</form>
