<input type='text' placeholder='Busqueda'
        ng-model='baseFilters.search_text'
        ng-model-options='{ debounce: 400 }'
        ng-change='filterItems()'
    ></input> 
<button class="btn btn-primary" ui-sref="main.item">Nuevo grupo</button>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ranking</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Puntiacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody infinite-scroll-disabled="!limitedGroups || (filteredGroups.length == limitedGroups.length)" infinite-scroll="addMoreItems(filteredGroups, limitedGroups, limitInterval)">
	
        <tr ng-repeat="group in limitedGroups">
			<td>
				{{::group.position}}
				<i ng-if="::group.position_global < 4" class="fa fa-trophy"></i>
			</td>
			
			<td>
				{{::group.date | date: "dd/MM/yyyy"}}
			</td>
			
            <td>
				{{::group.name}}
			</td>
			<td>
				{{::group.score}}
			</td>
			
			<td>
			
				<img ng-init="getGroupImage(group)" src="{{group.src}}"/>
			
			</td>

            <!-- <td>{{group.lastname}}</td> -->
            <!-- <td>{{group.email}}</td> -->
			<!-- {{group._id}} -->
			<!-- {{group._rev}} -->
            <td><a href="" ui-sref="main.item({ documentId: group._id, documentRevision: group._rev})">edit</a></td>
        </tr>
    </tbody>
</table>
