<button class="btn btn-primary" ui-sref="main.item">New Item</button>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="group in filteredGroups">
            <td>{{group.text}}</td>
            <td>{{group.lastname}}</td>
            <td>{{group.email}}</td>
			{{group._id}}
			{{group._rev}}
            <td><a href="" ui-sref="main.item({documentId: group._id, documentRevision: group._rev})">edit</a> | <a href="" ng-click="delete(group._id, group._rev)">delete</a></td>
        </tr>
    </tbody>
</table>
